:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --title-color: #E3D6B6;
  background-color: #242424;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  /* Bakgrundsbild */
  background-image: url('/src/assets/background.png'); 
  background-size: cover;      
  background-position: center bottom;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
}

/* NAVBAR */
.navbar { 
  padding: 0.5rem 2rem; 
}

.navbar .navbar-brand {
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 700;
}

.navbar .nav-link {
  color: var(--title-color);
  font-size: 1.5rem; 
  margin-left: 2rem; 
  margin-right: 2rem;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #ffffff !important; 
}

.navbar .dropdown-menu {
  background-color: #000;
}

.navbar .dropdown-item {
  color: var(--title-color);
  font-size: 1.2rem;
}

.navbar .dropdown-item:hover {
  background-color: #222;
  color: #ffffff;
}

.navbar .container-fluid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8%;
}

.navbar-collapse {
  justify-content: flex-start; 
}

.navbar-nav {
  display: flex;
  align-items: center;
}

/* LANDING PAGE*/
.landing {
  padding-left: 8%;
  padding-top: 5vh;
}

.landing-h1 {
  font-size: 17rem;
  color: var(--title-color);
  margin-bottom: 0rem;
}

.landing-h1 .h1-line1,
.landing-h1 .h1-line2 {
  line-height: 0.9;
  display: block; 
}

.landing-h2 {
  margin-top: 1rem;
  font-size: 5.5rem;
  color: var(--title-color);
  white-space: nowrap;
}


/* VIDEO */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 5vh;
}

.landing-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landing-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.graffiti-img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.video-player {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

